/* COLORS */
:root {
  --d-contrast     : 0 0% 0%;
  --d-default      : 0 0% 20%;
  --d-subtle       : 0 0% 50%;
  --d-non-essential: 0 0% 75%;

  --l-contrast     : 0 0% 100%;
  --l-default      : 0 0% 90%;
  --l-subtle       : 0 0% 50%;
  --l-non-essential: 0 0% 25%;

  --l-primary-900: 203 100% 14%;
  --l-primary-700: 203 100% 24%;
  --l-primary-500: 203 100% 37%;
  --l-primary-300: 203 100% 67%;
  --l-primary-100: 203 100% 84%;

  --l-secondary-900: 233 100% 21%;
  --l-secondary-700: 233 80% 41%;
  --l-secondary-500: 233 80% 61%;
  --l-secondary-300: 233 50% 71%;
  --l-secondary-100: 233 50% 81%;

  --l-error-100: 5 100% 75%;
  --l-error-300: 0 81% 63%;
  --l-error-500: 357 68% 46%;
  --l-error-700: 1 94% 33%;
  --l-error-900: 0 100% 24%;

  --l-success-100: 82 100% 75%;
  --l-success-300: 87 66% 58%;
  --l-success-500: 92 68% 43%;
  --l-success-700: 97 95% 29%;
  --l-success-900: 102 100% 21%;

  --l-warning-100: 32 100% 75%;
  --l-warning-300: 27 100% 66%;
  --l-warning-500: 22 89% 56%;
  --l-warning-700: 17 98% 40%;
  --l-warning-900: 12 100% 33%;

  --d-error-900: 5 100% 75%;
  --d-error-700: 0 81% 63%;
  --d-error-500: 357 68% 46%;
  --d-error-300: 1 94% 33%;
  --d-error-100: 0 100% 24%;

  --d-success-900: 82 100% 75%;
  --d-success-700: 87 66% 58%;
  --d-success-500: 92 68% 43%;
  --d-success-300: 97 95% 29%;
  --d-success-100: 102 100% 21%;

  --d-warning-900: 32 100% 75%;
  --d-warning-700: 27 100% 66%;
  --d-warning-500: 22 89% 56%;
  --d-warning-300: 17 98% 40%;
  --d-warning-100: 12 100% 33%;

  --d-primary-100: 203 100% 14%;
  --d-primary-300: 203 100% 24%;
  --d-primary-500: 203 100% 37%;
  --d-primary-700: 203 100% 67%;
  --d-primary-900: 203 100% 84%;

  --d-secondary-100: 233 100% 21%;
  --d-secondary-300: 233 80% 41%;
  --d-secondary-500: 233 80% 61%;
  --d-secondary-700: 233 50% 71%;
  --d-secondary-900: 233 50% 81%;
}

/* FONTS */
:root {
  --font-code     : var(--font-monospace);
  --font-monospace: "Cascadia Code", monospace;
  --font-sans     : "Inter", sans-serif;

  --type-size  : 1rem;
  --type-size-1: 2.986rem;
  --type-size-2: 2.488rem;
  --type-size-3: 2.074rem;
  --type-size-4: 1.728rem;
  --type-size-5: 1.44rem;
  --type-size-6: 1.2rem;
  --type-size-7: 0.75rem;
  --type-size-8: 0.563rem;
  --type-size-9: 0.422rem;

  // relative type sizes us em instead of rem
  --type-size-rel  : 1em;
  --type-size-rel-1: 2.986em;
  --type-size-rel-2: 2.488em;
  --type-size-rel-3: 2.074em;
  --type-size-rel-4: 1.728em;
  --type-size-rel-5: 1.44em;
  --type-size-rel-6: 1.2em;
  --type-size-rel-7: 0.75em;
  --type-size-rel-8: 0.563em;
  --type-size-rel-9: 0.422em;

  --vtype-size-1: clamp(var(--type-size-2), 5vw + 1rem, var(--type-size-1));
  --vtype-size-2: clamp(var(--type-size-3), 5vw + 1rem, var(--type-size-2));
  --vtype-size-3: clamp(var(--type-size-4), 5vw + 1rem, var(--type-size-3));
  --vtype-size-4: clamp(var(--type-size-5), 2vw + 1rem, var(--type-size-4));
  --vtype-size-5: clamp(var(--type-size-6), 2vw + 1rem, var(--type-size-5));
  --vtype-size-6: clamp(var(--type-size), 2vw + 1rem, var(--type-size-6));
}

/* SIZES */
:root {
  --content-width: 75ch;
  --page-width   : 130ch;
}

/* RADII */
:root {
  --radius-1: 4px;
  --radius-2: 6px;
  --radius-3: 8px;
  --radius-4: 10px;
  --radius-5: 12px;
}

/* SPACES */
:root {
  --space-none: 0;
  --space-auto: auto;
  --space-xxxl: 4rem;
  --space-xxl : 3rem;
  --space-xl  : 2rem;
  --space-l   : 1.5rem;
  --space     : 1rem;
  --space-m   : var(--space);
  --space-s   : 0.75rem;
  --space-xs  : 0.5rem;
  --space-xxs : 0.25rem;
  --space-xxxs: 0.1rem;
}

:root {
  --focus-ring-size : 3px;
  --focus-ring-color: var(--primary-300);
}