@mixin light-scheme() {
  --fg-contrast     : var(--d-contrast);
  --fg-default      : var(--d-default);
  --fg-subtle       : var(--d-subtle);
  --fg-non-essential: var(--d-non-essential);

  --bg-contrast     : var(--l-contrast);
  --bg-default      : var(--l-default);
  --bg-subtle       : var(--l-subtle);
  --bg-non-essential: var(--l-non-essential);

  --fg-invert-contrast     : var(--l-contrast);
  --fg-invert-default      : var(--l-default);
  --fg-invert-subtle       : var(--l-subtle);
  --fg-invert-non-essential: var(--l-non-essential);

  --bg-invert-contrast     : var(--d-contrast);
  --bg-invert-default      : var(--d-default);
  --bg-invert-subtle       : var(--d-subtle);
  --bg-invert-non-essential: var(--d-non-essential);

  --primary-100: var(--l-primary-100);
  --primary-300: var(--l-primary-300);
  --primary-500: var(--l-primary-500);
  --primary-700: var(--l-primary-700);
  --primary-900: var(--l-primary-900);

  --secondary-100: var(--l-secondary-100);
  --secondary-300: var(--l-secondary-300);
  --secondary-500: var(--l-secondary-500);
  --secondary-700: var(--l-secondary-700);
  --secondary-900: var(--l-secondary-900);

  --success-100: var(--l-success-100);
  --success-300: var(--l-success-300);
  --success-500: var(--l-success-500);
  --success-700: var(--l-success-700);
  --success-900: var(--l-success-900);

  --warning-100: var(--l-warning-100);
  --warning-300: var(--l-warning-300);
  --warning-500: var(--l-warning-500);
  --warning-700: var(--l-warning-700);
  --warning-900: var(--l-warning-900);

  --error-100: var(--l-error-100);
  --error-300: var(--l-error-300);
  --error-500: var(--l-error-500);
  --error-700: var(--l-error-700);
  --error-900: var(--l-error-900);

  --info-100: var(--l-info-100);
  --info-300: var(--l-info-300);
  --info-500: var(--l-info-500);
  --info-700: var(--l-info-700);
  --info-900: var(--l-info-900);
}

@mixin dark-scheme() {
  --fg-contrast     : var(--l-contrast);
  --fg-default      : var(--l-default);
  --fg-subtle       : var(--l-subtle);
  --fg-non-essential: var(--l-non-essential);

  --bg-contrast     : var(--d-contrast);
  --bg-default      : var(--d-default);
  --bg-subtle       : var(--d-subtle);
  --bg-non-essential: var(--d-non-essential);

  --fg-invert-contrast     : var(--d-contrast);
  --fg-invert-default      : var(--d-default);
  --fg-invert-subtle       : var(--d-subtle);
  --fg-invert-non-essential: var(--d-non-essential);

  --bg-invert-contrast     : var(--l-contrast);
  --bg-invert-default      : var(--l-default);
  --bg-invert-subtle       : var(--l-subtle);
  --bg-invert-non-essential: var(--l-non-essential);

  --primary-100: var(--d-primary-100);
  --primary-300: var(--d-primary-300);
  --primary-500: var(--d-primary-500);
  --primary-700: var(--d-primary-700);
  --primary-900: var(--d-primary-900);

  --secondary-100: var(--d-secondary-100);
  --secondary-300: var(--d-secondary-300);
  --secondary-500: var(--d-secondary-500);
  --secondary-700: var(--d-secondary-700);
  --secondary-900: var(--d-secondary-900);

  --success-100: var(--d-success-100);
  --success-300: var(--d-success-300);
  --success-500: var(--d-success-500);
  --success-700: var(--d-success-700);
  --success-900: var(--d-success-900);

  --warning-100: var(--d-warning-100);
  --warning-300: var(--d-warning-300);
  --warning-500: var(--d-warning-500);
  --warning-700: var(--d-warning-700);
  --warning-900: var(--d-warning-900);

  --error-100: var(--d-error-100);
  --error-300: var(--d-error-300);
  --error-500: var(--d-error-500);
  --error-700: var(--d-error-700);
  --error-900: var(--d-error-900);

  --info-100: var(--d-info-100);
  --info-300: var(--d-info-300);
  --info-500: var(--d-info-500);
  --info-700: var(--d-info-700);
  --info-900: var(--d-info-900);
}

.theme-default,
.theme-light {
  @include light-scheme();
}

.theme-dark {
  @include dark-scheme();
}

.theme-default {
  @media (prefers-color-scheme: dark) {
    @include dark-scheme();
  }
}

.invert-on-dark {
  @media (prefers-color-scheme: dark) {
    filter: invert(1);
  }

  @at-root .theme-dark & {
    filter: invert(1);
  }
}

body {
  background-color: var(--bg-default);
  color           : var(--fg-default);
  font-family     : var(--font-sans);
  font-size       : var(--type-size);
}

h1 { font-size: var(--vtype-size-1); }
h2 { font-size: var(--vtype-size-2); }
h3 { font-size: var(--vtype-size-3); }
h4 { font-size: var(--vtype-size-4); }
h5 { font-size: var(--vtype-size-5); }
h6 { font-size: var(--vtype-size-6); }