.navigation {
  &-bar {
    backdrop-filter : blur(75px);
    background-color: hsl(var(--primary-100) / 75%);
    border-radius   : var(--radius-3);
    display         : flex;
    flex-wrap       : wrap;
    margin-block    : var(--space-xs);
    margin-inline   : auto;
    padding         : var(--space-xxs);
    position        : sticky;
    top             : var(--space-xs);
    transition      : box-shadow 200ms;
    width           : min(var(--page-width), 90%);

    &.attached {
      --shadow-color: hsl(var(--primary-900) / 3%);
      box-shadow    : 0 2px 4px var(--shadow-color), 0 4px 8px var(--shadow-color), 0 8px 16px var(--shadow-color), 0 16px 32px var(--shadow-color);
    }
  }

  &-list {
    align-items    : center;
    display        : flex;
    flex           : 1;
    flex-wrap      : wrap;
    gap            : 1ch;
    justify-content: center;
    margin         : 0;
    flex-basis     : 20ch;

    &:first-child {
      justify-content: start;
    }

    &:last-child {
      justify-content: end;
    }
  }

  &-link {
    border-radius  : var(--radius-1);
    display        : flex;
    padding        : var(--space-xxxs) var(--space-s);
    text-decoration: none !important;
    transition     : background 200ms, button 200ms;
    border         : none;
    font           : inherit;
    color          : hsl(var(--primary-900));
    background     : transparent;
    cursor         : pointer;

    &:focus-visible,
    &:hover {
      @extend .theme-dark;
      color           : hsl(var(--primary-100));
      background-color: hsl(var(--primary-700) / 50%);
    }
  }
}