.post {
  display              : grid;
  grid-template-columns: min-content 1fr;
  gap                  : 1ch;
  border-radius        : var(--radius-5);
  border               : 1px solid hsl(var(--bg-default));
  padding              : var(--space-xs);

  .post a[data-post="username"]::before,
  .username::before {
    content: 'u/attr';
  }

  &__votes {
    grid-column   : 1/2;
    grid-row      : 1/3;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    gap           : 1ch;
  }

  .post__header {
    display       : flex;
    flex-direction: column;
    padding-inline: var(--space-xl);
  }

  .post__title {
    margin   : 0;
    font-size: var(--vtype-size-4);

    a {
      color: hsl(var(--fg-default));
    }
  }

  .post__meta {
    margin: 0;
    color : hsl(var(--fg-subtle));
  }

  .post__actions {
    display        : flex;
    gap            : 1ch;
    justify-content: start;
  }
}