<!DOCTYPE html>
<html lang="{{ lang }}">
{% include "head/head.njk" %}
<body class="theme-light">
  {% include 'ui/navigation.njk' %}
  {% block content %}
    {{ content | safe }}
  {% endblock %}

  <script src="/assets/scripts/index.js" type="module"></script>
</body>
</html>