---
title: 'Community - Emmy'
permalink: /community/
layout: page.njk
scripts:
  - community.js
---
<main class="width--page" id="main">
  <h1 id="page-title">Community</h1>
  <div class="loader" id="loader"></div>
  <form name="community" hidden>
    <h2 class="h4">Search for a community</h2>

    <div class="form-group">
      <label for="txt-community" class="visually-hidden">Community name</label>
      <div class="form-control">
        {% set feathericon = 'search' %}
        {% include "ui/feathericon.njk" %}
        <input name="name" type="text" class="form-control" id="txt-community">
        <button class="button button--primary">Search</button>
      </div>
    </div>
  </form>
  <article data-community-id class="community" data-community="article" hidden>
    <img data-community="banner" width="1600" height="355" class="community__banner" src="https://lemmy.world/pictrs/image/fb79eeb1-9075-4c84-b79a-7fc44477713f.png" alt="">
    <div class="community__header">
      <img data-community="icon" width="256" height="256" src="https://lemmy.world/pictrs/image/53eb2e55-16c4-4c90-a68f-5966186e0b0d.png" alt="" class="community__icon">
      <h1 data-community="title" class="h1 community__title">Philippines</h1>
    </div>
    <div class="sidebar-layout">
      <div data-community="posts" class="sidebar__main"></div>
      <div class="sidebar__aside">
        <div class="community__description">
          <h2 class="community__section-title">Description</h2>
          <div class="stack" data-community="description"></div>
        </div>
      </div>
    </div>
  </article>
</main>