@import "base/mixins";
@import "base/reset";
@import "base/config";
@import "base/theme";

@import "layouts/community";
@import "layouts/sidebar";
@import "layouts/stack";

@import "components/navigation";
@import "components/form";
@import "components/button";
@import "components/post";

@import "utilities/fonts";
@import "utilities/widths";
@import "utilities/visibility";

a {
  color          : hsl(var(--primary-700));
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

:where(a, button, input, textarea, select) {
  @include focus-ring();
}